<ul class="Linklist Treeview root-level js-fr-treeview" role="tree">
  <li class="tree-parent" role="treeitem" tabindex="0" aria-expanded="true"><a>Fruits</a>
    <ul role="group">
      <li role="treeitem" tabindex="-1"><a>Oranges</a></li>
      <li role="treeitem" tabindex="-1"><a>Pineapples</a></li>
      <li class="tree-parent" role="treeitem" tabindex="-1" aria-expanded="false"><a>Apples</a>
        <ul role="group">
          <li role="treeitem" tabindex="-1"><a>Macintosh</a></li>
          <li class="tree-parent" role="treeitem" tabindex="-1" aria-expanded="false"><a>Granny Smith</a>
            <ul role="group">
              <li role="treeitem" tabindex="-1"><a>Washington State</a></li>
              <li role="treeitem" tabindex="-1"><a>Michigan</a></li>
              <li role="treeitem" tabindex="-1"><a>New York</a></li>
            </ul>
          </li>
          <li role="treeitem" tabindex="-1"><a>Fuji</a></li>
        </ul>
      </li>
      <li role="treeitem" tabindex="-1"><a>Bananas</a></li>
      <li role="treeitem" tabindex="-1"><a>Pears</a></li>
    </ul>
  </li>
  <li class="tree-parent" role="treeitem" tabindex="-1" aria-expanded="true"><a>Vegetables</a>
    <ul role="group">
      <li role="treeitem" tabindex="-1"><a>Broccoli</a></li>
      <li role="treeitem" tabindex="-1"><a>Carrots</a></li>
      <li class="tree-parent" role="treeitem" tabindex="-1" aria-expanded="false"><a>Lettuce</a>
        <ul role="group">
          <li role="treeitem" tabindex="-1"><a>Romaine</a></li>
          <li role="treeitem" tabindex="-1"><a>Iceberg</a></li>
          <li role="treeitem" tabindex="-1"><a>Butterhead</a></li>
        </ul>
      </li>
      <li role="treeitem" tabindex="-1"><a>Spinach</a></li>
      <li class="tree-parent" role="treeitem" tabindex="-1" aria-expanded="true"><a>Squash</a>
        <ul role="group">
          <li role="treeitem" tabindex="-1"><a>Acorn</a></li>
          <li role="treeitem" tabindex="-1"><a>Ambercup</a></li>
          <li role="treeitem" tabindex="-1"><a>Autumn Cup</a></li>
          <li role="treeitem" tabindex="-1"><a>Hubbard</a></li>
          <li role="treeitem" tabindex="-1"><a>Kabocha</a></li>
          <li role="treeitem" tabindex="-1"><a>Butternut</a></li>
          <li role="treeitem" tabindex="-1"><a>Spaghetti</a></li>
          <li role="treeitem" tabindex="-1"><a>Sweet Dumpling</a></li>
          <li role="treeitem" tabindex="-1"><a>Turban</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
