<section class=" u-background-grey-60 u-padding-r-all">
  <div class="u-layout-medium u-layoutCenter">

    <div class="Grid u-padding-top-xxl u-padding-bottom-xxl">
      <h2 id="carousel-heading" class="Grid-cell u-text-h2 u-color-white u-layout-centerLeft">Gallerie</h2>
      <a href="" class="Grid-cell u-layout-centerRight u-text-r-m u-textWeight-700 u-color-teal-50">Vedi tutto</a>
    </div>

    <div aria-hidden="true">
      <button class="owl-prev" title="Slide precedente" tabindex="0">
          <span class="icon icon-arrow-left u-color-white u-floatLeft u-text-r-l"></span>
      </button>
      <button class="owl-next" title="Slide successiva" tabindex="0">
        <span class="icon icon-arrow-right u-color-white u-floatRight u-text-r-l"></span>
      </button>
    </div>

    <div class="Carousel js-Carousel owl-carousel owl-theme" role="region" tabindex="0" aria-labelledby="carousel-heading">
      {% for i in [1, 2, 3, 4, 5, 6, 7]%}
      <div class="Carousel-item" id="img-a">
        {% render '@tile--gallery' %}
      </div>
      {% endfor %}
    </div>

  </div>
</section>
