@import 'suitcss';
@import 'suitcss-components-form';

@import 'src/utils/colors';
@import 'src/utils/corners';
@import 'src/utils/space';
@import 'src/utils/text';

@import 'src/components/alert';
@import 'src/components/button';
@import 'src/components/callout';
@import 'src/components/dot';
@import 'src/components/form';
@import 'src/components/table';

@import 'src/modules/breadcrumb';
@import 'src/modules/entrypoint';
@import 'src/modules/prose';
@import 'src/modules/utilities';

@import 'src/themes/pac';

@custom-media --sm-viewport screen and (min-width: 768px) and (max-width: 992px);
@custom-media --md-viewport screen and (min-width: 992px) and (max-width: 1440px);
@custom-media --lg-viewport screen and (min-width: 1440px);

:root {
  --it-Base-font-size: 1.8rem;
  --it-Base-text-color: #1C2024;
}

:root {
  --Grid-gutter-size: 1.6rem;
}

/**
 * 1. 62.5% = 10px on browsers with base size = 16px
 * 		so we got 10px = 1rem
 *
 * 2. See http://stackoverflow.com/questions/7968795/is-it-safe-to-use-the-css-rule-text-rendering-optimizelegibility-on-all-text
 */
html {
  font-size: 62.5%; /* 1 */
  font-variant-ligatures: common-ligatures; /* 2 */
  /* text-rendering: optimizeLegibility; */
}

body {
  font-size: var(--it-Base-font-size);
  color: var(--it-Base-text-color);
}

p,
li {
  max-width: 32em;
}

:focus {
  outline: #ff8c00 solid 3px;
  text-decoration: none;
}

a:focus {
  background: #ff8c00;
  outline: #ff8c00 solid 0px;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
