{% render '@header' %}

<div class="u-text-r-l u-padding-r-top">

  <div class="u-layout-wide u-layoutCenter u-margin-bottom-xxl u-layout-withGutter">
    {% render '@news' %}
  </div>

  <div class="u-layout-wide u-layoutCenter u-padding-bottom-xl u-margin-bottom-xl u-layout-withGutter">
    {% render '@entrypoint' %}
  </div>

  <div class="u-background-grey-20">
    <div class="u-layout-wide u-layoutCenter u-padding-top-xl u-padding-bottom-xl u-layout-withGutter">
      {% render '@layout--grid' %}
    </div>
  </div>

  <div class="u-background-grey-20">
    <div class="u-layout-wide u-layoutCenter u-padding-bottom-xxl u-padding-top-xxl u-layout-withGutter">
      {% render '@utilities' %}
    </div>
  </div>

  <div class="u-background-grey-80">
    <div class="u-layout-wide u-layoutCenter u-layout--withGutter">
    {% render '@footer' %}
    </div>
  </div>

  </div>

</div>
