/** @define Theme; */

:root {
  --it-Theme-font-size: 1.8rem;
  --it-Theme-font-family-sans: 'Titillium Web';
}

.Theme {
  color: var(--it-Color-text-primary);
  font-family: var(--it-Theme-font-family-sans);
  font-size: var(--it-Theme-font-size);
}
