


<button class="Button Button--default js-fr-dialogmodal-open" aria-controls="modal">
  Apri
</button>

<div class="Dialog js-fr-dialogmodal" id="modal">
  <div class="
      Dialog-content
      Dialog-content--centered
      u-background-white
      u-layout-prose
      u-margin-all-xl
      u-padding-all-xl
      js-fr-dialogmodal-modal
    "
    aria-labelledby="modal-title">
    <div role="document" class="Prose">
      <h2 class="u-cf u-text-h2" id="modal-title">Autem laboriosam eum quia illum occaecati vel.</h2>
      <p>
        Totam cumque illum enim doloribus asperiores. Sit molestiae consequatur est tempore totam enim quis et. Sed quaerat ratione qui alias blanditiis enim incidunt reprehenderit.
 Aut veniam ipsum corporis accusantium. Omnis temporibus voluptatem. Magni et ut eveniet fugiat voluptates. Incidunt fuga deleniti. Voluptatum tempore distinctio hic et quibusdam. Quaerat et soluta ea voluptatem deserunt.
 Optio voluptatibus nihil possimus. Non dolores magni laudantium. Perferendis sed esse iste exercitationem sit rerum placeat rerum et. Modi alias vel excepturi qui porro cupiditate unde. Pariatur fuga ut iure illum doloremque autem qui perferendis. Accusantium aut aut illo illo quia sit.
      </p>
      <button class="Button Button--danger js-fr-dialogmodal-close u-floatRight">Chiudi</button>
    </div>
  </div>
</div>

