

<div class=" u-background-grey-20 u-layout-centerContent">
  <section class="Grid Grid--withGutter u-padding-all-xxs u-layout-medium">

    
    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">eos totam earum</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Autem laboriosam eum quia illum occaecati vel.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Eum laboriosam explicabo magni expedita sed illum. Voluptas quo ex molestiae earum in non. Ipsam ea non minus cumque quam enim. Qui rerum aperiam enim vel.</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">eos totam earum</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Repudiandae et repellat porro reprehenderit eius.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Unde quis dolores. Aperiam dolore animi iure aut fugit sint est eligendi voluptate. Repellat voluptatem in itaque aut. Officiis blanditiis eos.</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">eos totam earum</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Aut nulla corrupti et et sequi.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Quo maiores atque est optio consequuntur. Eum labore porro explicabo quia voluptates nemo ut a. Magni vero ipsa fugit facere minima.</p>
        </div>
      </div>
    </div>
    
    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">eos totam earum</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Autem laboriosam eum quia illum occaecati vel.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Eum laboriosam explicabo magni expedita sed illum. Voluptas quo ex molestiae earum in non. Ipsam ea non minus cumque quam enim. Qui rerum aperiam enim vel.</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">eos totam earum</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Repudiandae et repellat porro reprehenderit eius.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Unde quis dolores. Aperiam dolore animi iure aut fugit sint est eligendi voluptate. Repellat voluptatem in itaque aut. Officiis blanditiis eos.</p>
        </div>
      </div>
    </div>

    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
      <div class="Card Card--shadow Card--round u-margin-bottom-l u-background-white u-flexAlignSelfStretch">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">eos totam earum</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Aut nulla corrupti et et sequi.</a></p>
          <p class="Card-text u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
          <p class="Card-text">Quo maiores atque est optio consequuntur. Eum labore porro explicabo quia voluptates nemo ut a. Magni vero ipsa fugit facere minima.</p>
        </div>
      </div>
    </div>
    

  </section>
</div>

