

<section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="Icon-list u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">Esplora contenuti correlati</a>
  </p>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-top-s">
      <nav aria-label="sei qui:" role="navigation">
  <ul class="Breadcrumb">
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">Home</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="">pagina interna</a></li>
  </ul>
</nav>

  </div>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">
    <h2 class="u-text-h2">
      Titolo della sezione
    </h2>
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size6of12 u-lg-size6of12">
        <article class="Prose u-layout-prose">
          <p>
            Totam cumque illum enim doloribus asperiores. Sit molestiae consequatur est tempore totam enim quis et. Sed quaerat ratione qui alias blanditiis enim incidunt reprehenderit.
 Aut veniam ipsum corporis accusantium. Omnis temporibus voluptatem. Magni et ut eveniet fugiat voluptates. Incidunt fuga deleniti. Voluptatum tempore distinctio hic et quibusdam. Quaerat et soluta ea voluptatem deserunt.
 Optio voluptatibus nihil possimus. Non dolores magni laudantium. Perferendis sed esse iste exercitationem sit rerum placeat rerum et. Modi alias vel excepturi qui porro cupiditate unde. Pariatur fuga ut iure illum doloremque autem qui perferendis. Accusantium aut aut illo illo quia sit.
          </p>
          <p>
            Omnis quis non quibusdam quibusdam. Placeat aut vel. Accusantium illo vitae enim adipisci blanditiis et. Voluptatem voluptatem tenetur quod doloremque. Sint placeat ea eaque corrupti.
 Dignissimos corporis et fugit dolores. Possimus odio earum quas aut labore qui dolores occaecati. Iste molestiae sint vero dicta enim rerum.
 Est autem ad. Maiores molestias quas veritatis non voluptatibus. Et error in. Quidem aut dolores non earum quisquam quidem. Perferendis maiores nihil incidunt. Velit sint non quia sed et.
          </p>
          <p>
            Est voluptas quam consequatur quisquam totam blanditiis quos perspiciatis. Unde modi repellendus accusamus sequi laudantium vero assumenda dolor ipsa. Voluptas et ipsum aut.
 Distinctio officia dicta. Reiciendis deserunt iusto. Soluta assumenda labore sunt. Esse qui et. Quo maxime rerum. Vel ea est hic autem et in molestiae vitae.
 Natus nesciunt dicta. Facere similique tenetur qui illo rerum voluptas doloremque et officiis. Provident accusamus non totam quia unde. Et laborum nisi id suscipit numquam. Vel optio et.
          </p>
        </article>
      </div>
      <div class="Grid-cell u-sizeFull u-md-size4of12 u-lg-size4of12 u-md-before2of12 u-lg-before2of12">
        <div class="u-cf u-padding-bottom-xxl">
          <div class="Share">
  <h2 class="Share-reveal js-Share">
    <span class="Share-revealIcon Icon Icon-share"></span>
    <span class="Share-revealText">Condividi</span>
  </h2>
  <ul class="u-jsHiddenVisually">
    <li><a href="#"><span class="Icon Icon-facebook"></span></a></li>
    <li><a href="#"><span class="Icon Icon-twitter"></span></a></li>
    <li><a href="#"><span class="Icon Icon-googleplus"></span></a></li>
    <li><a href="#"><span class="Icon Icon-youtube"></span></a></li>
    <li><a href="#"><span class="Icon Icon-flickr"></span></a></li>
    <li><a href="#"><span class="Icon Icon-slideshare"></span></a></li>
    <li><a href="#"><span class="Icon Icon-whatsapp"></span></a></li>
  </ul>
</div>

        </div>
        <div class="u-sizeFull u-md-size11of12 u-lg-size11of12" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Optio optio sit modi quo.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Autem laboriosam eum quia illum occaecati vel.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Repudiandae et repellat porro reprehenderit eius.</a></li>
      <li><a href="">Aut nulla corrupti et et sequi.</a></li>
      <li><a href="">Et et perferendis explicabo.</a></li>
      <li><a href="">Et vero incidunt quia non ad.</a></li>
    </ul>
  </li>
  <li><a href="">Dolores commodi eius recusandae sit esse laudantium explicabo.</a></li>
  <li><a href="">Tenetur quo dolor.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Quia excepturi error pariatur nam minus quibusdam.</a></li>
  <li><a href="">Eos voluptas quasi.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </div>
    </div>
  </div>
</section>

