


<div class="u-background-grey-20 u-layout-centerContent u-cf">
  <section class="js-Masonry-container u-layout-medium" data-columns>

    
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">eos totam earum</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Autem laboriosam eum quia illum occaecati vel.</a></p>
          <p class="Card-text">
            Eum laboriosam explicabo magni expedita sed illum. Voluptas quo ex molestiae earum in non. Ipsam ea non minus cumque quam enim. Qui rerum aperiam enim vel.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">eos totam earum</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Repudiandae et repellat porro reprehenderit eius.</a></p>
          <p class="Card-text">
            Unde quis dolores. Aperiam dolore animi iure aut fugit sint est eligendi voluptate. Repellat voluptatem in itaque aut. Officiis blanditiis eos.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">eos totam earum</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Aut nulla corrupti et et sequi.</a></p>
          <p class="Card-text">Aut nulla corrupti et et sequi.</p>
        </div>
      </div>
    </div>
    
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">eos totam earum</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Autem laboriosam eum quia illum occaecati vel.</a></p>
          <p class="Card-text">
            Eum laboriosam explicabo magni expedita sed illum. Voluptas quo ex molestiae earum in non. Ipsam ea non minus cumque quam enim. Qui rerum aperiam enim vel.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">eos totam earum</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Repudiandae et repellat porro reprehenderit eius.</a></p>
          <p class="Card-text">
            Unde quis dolores. Aperiam dolore animi iure aut fugit sint est eligendi voluptate. Repellat voluptatem in itaque aut. Officiis blanditiis eos.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">eos totam earum</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Aut nulla corrupti et et sequi.</a></p>
          <p class="Card-text">Aut nulla corrupti et et sequi.</p>
        </div>
      </div>
    </div>
    

  </section>
</div>

<div class="u-background-grey-20 u-layout-centerContent u-cf">
  <section class="js-Masonry-container u-layout-medium" data-columns>

    
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">eos totam earum</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Autem laboriosam eum quia illum occaecati vel.</a></p>
          <p class="Card-text">
            Eum laboriosam explicabo magni expedita sed illum. Voluptas quo ex molestiae earum in non. Ipsam ea non minus cumque quam enim. Qui rerum aperiam enim vel.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">eos totam earum</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Repudiandae et repellat porro reprehenderit eius.</a></p>
          <p class="Card-text">
            Unde quis dolores. Aperiam dolore animi iure aut fugit sint est eligendi voluptate. Repellat voluptatem in itaque aut. Officiis blanditiis eos.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">eos totam earum</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Aut nulla corrupti et et sequi.</a></p>
          <p class="Card-text">Aut nulla corrupti et et sequi.</p>
        </div>
      </div>
    </div>
    
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">eos totam earum</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Autem laboriosam eum quia illum occaecati vel.</a></p>
          <p class="Card-text">
            Eum laboriosam explicabo magni expedita sed illum. Voluptas quo ex molestiae earum in non. Ipsam ea non minus cumque quam enim. Qui rerum aperiam enim vel.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">eos totam earum</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Repudiandae et repellat porro reprehenderit eius.</a></p>
          <p class="Card-text">
            Unde quis dolores. Aperiam dolore animi iure aut fugit sint est eligendi voluptate. Repellat voluptatem in itaque aut. Officiis blanditiis eos.
          </p>
        </div>
      </div>
    </div>
    <div class="Masonry-item js-Masonry-item">
      <div class="Card Card--shadow Card--round u-background-white">
        <div class="Card-image">
          <img src="http://placehold.it/400x220?text=placeholder" class="u-sizeFull" />
        </div>
        <div class="Card-content">
          <p class="Card-extra"><a class="Card-extraLink" href="">eos totam earum</a></p>
          <p class="Card-title"><a class="Card-titleLink" href="">Aut nulla corrupti et et sequi.</a></p>
          <p class="Card-text">Aut nulla corrupti et et sequi.</p>
        </div>
      </div>
    </div>
    

  </section>
</div>


