

<section class="u-layout-wide u-layout-withGutter u-layoutCenter u-padding-r-top">
  <h2 class="u-text-h2">Home di sezione</h2>
  <div class="Grid Grid--withGutter">

      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Eum laboriosam explicabo magni expedita sed illum. Voluptas quo ex molestiae earum in non. Ipsam ea non minus cumque quam enim. Qui rerum aperiam enim vel.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">eos totam earum</a></li>
              <li><a href="">velit ab consequatur</a></li>
              <li><a href="">non iusto atque</a></li>
              <li><a href="">doloremque cum non</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Unde quis dolores. Aperiam dolore animi iure aut fugit sint est eligendi voluptate. Repellat voluptatem in itaque aut. Officiis blanditiis eos.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">eos totam earum</a></li>
              <li><a href="">velit ab consequatur</a></li>
              <li><a href="">non iusto atque</a></li>
              <li><a href="">doloremque cum non</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Quo maiores atque est optio consequuntur. Eum labore porro explicabo quia voluptates nemo ut a. Magni vero ipsa fugit facere minima.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">eos totam earum</a></li>
              <li><a href="">velit ab consequatur</a></li>
              <li><a href="">non iusto atque</a></li>
              <li><a href="">doloremque cum non</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Eligendi similique voluptas velit ipsa rerum laborum est officia beatae. Sit quae sunt optio dolores fuga at. Consectetur voluptatibus in voluptatibus.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">eos totam earum</a></li>
              <li><a href="">velit ab consequatur</a></li>
              <li><a href="">non iusto atque</a></li>
              <li><a href="">doloremque cum non</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Omnis impedit laudantium praesentium facilis omnis quas iste minus consectetur. Cupiditate perspiciatis qui. Saepe quis et labore dolorem. Et accusamus unde nihil et corrupti cupiditate aperiam. Ea id totam rerum sunt vero. Corrupti nam ipsum cupiditate hic.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">eos totam earum</a></li>
              <li><a href="">velit ab consequatur</a></li>
              <li><a href="">non iusto atque</a></li>
              <li><a href="">doloremque cum non</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Rerum voluptas ut et dolor eius. Voluptatem fugiat ipsam. Fuga maiores eveniet laboriosam.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">eos totam earum</a></li>
              <li><a href="">velit ab consequatur</a></li>
              <li><a href="">non iusto atque</a></li>
              <li><a href="">doloremque cum non</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Praesentium a recusandae ut molestiae ut repellat. Est laboriosam voluptate iste in est recusandae sed ut non. Quas ut voluptatem occaecati ratione.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">eos totam earum</a></li>
              <li><a href="">velit ab consequatur</a></li>
              <li><a href="">non iusto atque</a></li>
              <li><a href="">doloremque cum non</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h3 class="u-text-h3 u-padding-r-top">Area tematica</h3>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Eaque laudantium voluptas occaecati. Est asperiores veniam. Dolorem illo soluta accusantium adipisci. Tenetur a non molestias consectetur voluptatem dolor sed itaque quibusdam. Enim culpa voluptas.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">eos totam earum</a></li>
              <li><a href="">velit ab consequatur</a></li>
              <li><a href="">non iusto atque</a></li>
              <li><a href="">doloremque cum non</a></li>
            </ul>
          </p>
        </div>
      </div>
      

  </div>
</section>

