

<ul class="Linklist  u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Optio optio sit modi quo.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Autem laboriosam eum quia illum occaecati vel.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Repudiandae et repellat porro reprehenderit eius.</a></li>
      <li><a href="">Aut nulla corrupti et et sequi.</a></li>
      <li><a href="">Et et perferendis explicabo.</a></li>
      <li><a href="">Et vero incidunt quia non ad.</a></li>
    </ul>
  </li>
  <li><a href="">Dolores commodi eius recusandae sit esse laudantium explicabo.</a></li>
  <li><a href="">Tenetur quo dolor.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Quia excepturi error pariatur nam minus quibusdam.</a></li>
  <li><a href="">Eos voluptas quasi.</a></li>
</ul>

