

<nav class="Megamenu Megamenu--styled js-megamenu">
  <ul class="Megamenu-list">
    <li class="Megamenu-item">
      <a href="#">Et quos sunt</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/">Eos totam earum</a>
            <ul>
              <li><a href="/1">Velit ab consequatur</a></li>
              <li><a href="/2">Non iusto atque</a></li>
              <li><a href="/3">Doloremque cum non</a></li>
              <li><a href="/4">Et ducimus accusantium</a></li>
            </ul>
          </li>
          <li><a href="">Maxime quia vel</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Sed id maxime</a>
            <ul>
              <li><a href="/1">Maxime ducimus consequatur</a></li>
              <li><a href="/2">Ipsam laborum ut</a></li>
              <li><a href="/3">Et quos sunt</a></li>
              <li><a href="/4">Eos totam earum</a></li>
            </ul>
          </li>
          <li><a href="">Velit ab consequatur</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Non iusto atque</a>
            <ul>
              <li><a href="/1">Doloremque cum non</a></li>
              <li><a href="/2">Et ducimus accusantium</a></li>
              <li><a href="/3">Maxime quia vel</a></li>
              <li><a href="/4">Sed id maxime</a></li>
            </ul>
          </li>
          <li><a href="">Maxime ducimus consequatur</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Ipsam laborum ut</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Et quos sunt</a></li>
          <li><a href="/2">Eos totam earum</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Velit ab consequatur</a></li>
          <li><a href="/2">Non iusto atque</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Doloremque cum non</a></li>
          <li><a href="/2">Et ducimus accusantium</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Maxime quia vel</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Sed id maxime</a></li>
          <li><a href="/2">Maxime ducimus consequatur</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Ipsam laborum ut</a></li>
          <li><a href="/2">Et quos sunt</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Eos totam earum</a></li>
          <li><a href="/2">Velit ab consequatur</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>

