

<article class="Prose u-layout-prose">

  <h1 class="u-text-h1">Titolo H1</h1>

  <h2 class="u-text-h2">Titolo H2</h2>

  <h3 class="u-text-h3">Titolo H3</h3>

  <h4 class="u-text-h4">Titolo H4</h4>

  <h5 class="u-text-h5">Titolo H5</h5>

  <h6 class="u-text-h6">Titolo H6</h6>


  <h2 class="u-text-h2">Paragafo</h2>

  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Quia et autem omnis consequuntur illum et. Consequatur facilis et. Similique repudiandae dolor molestias vero consectetur.</p>


  <h2 class="u-text-h2">Testo preformattato</h2>

  <pre class="u-textPreformatted">
  <code class="u-text-r-xxs">
    Quia et autem omnis consequuntur illum et. Consequatur facilis et. Similique repudiandae dolor molestias vero consectetur.
  </code>
</pre>


  <h2 class="u-text-h2">Citazione</h2>

  <blockquote class="Prose-blockquote">
  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Optio optio sit modi quo.</p>

</blockquote>


  <h2 class="u-text-h2">Liste</h2>


  <ul>
    
    <li>Optio optio sit modi quo.</li>
    
    <li>Autem laboriosam eum quia illum occaecati vel.</li>
    
    <li>Repudiandae et repellat porro reprehenderit eius.</li>
    
    <li>Aut nulla corrupti et et sequi.</li>
    
    <li>Et et perferendis explicabo.</li>
    
    <li>Et vero incidunt quia non ad.</li>
    
    <li>Dolores commodi eius recusandae sit esse laudantium explicabo.</li>
    
    <li>Tenetur quo dolor.</li>
    
    <li>Quia excepturi error pariatur nam minus quibusdam.</li>
    
  </ul>

  <ol>
    
    <li>Optio optio sit modi quo.</li>
    
    <li>Autem laboriosam eum quia illum occaecati vel.</li>
    
    <li>Repudiandae et repellat porro reprehenderit eius.</li>
    
    <li>Aut nulla corrupti et et sequi.</li>
    
    <li>Et et perferendis explicabo.</li>
    
    <li>Et vero incidunt quia non ad.</li>
    
    <li>Dolores commodi eius recusandae sit esse laudantium explicabo.</li>
    
    <li>Tenetur quo dolor.</li>
    
    <li>Quia excepturi error pariatur nam minus quibusdam.</li>
    
  </ol>

</article>

