

<div class="Prose u-layout-prose u-padding-all-xxl">
  <p>
    Nisi excepturi veritatis omnis a. Nemo accusantium et voluptatem sunt asperiores cumque. Porro quasi quisquam tempora qui reiciendis.
 Omnis fugit quia. Ut quos mollitia libero. Voluptatem sit ut doloribus voluptatibus sit eum.
 Molestiae rerum impedit. Nesciunt voluptatem eum asperiores et. Qui nulla excepturi delectus dolorem sapiente et atque autem. Impedit odio aspernatur debitis corrupti voluptatum dicta porro. Voluptatibus ea exercitationem quo vel dolor numquam. Voluptas veritatis quae recusandae et.

    <span class="Tooltip Tooltip--styled fr-tooltip js-fr-tooltip">
      <span class="Tooltip-toggle js-fr-tooltip-toggle">quaerat</span>
      <span class="Tooltip-tooltip fr-tooltip-tooltip js-fr-tooltip-tooltip">
        Totam cumque illum enim doloribus asperiores. Sit molestiae consequatur est tempore totam enim quis et. Sed quaerat ratione qui alias blanditiis enim incidunt reprehenderit.
 Aut veniam ipsum corporis accusantium. Omnis temporibus voluptatem. Magni et ut eveniet fugiat voluptates. Incidunt fuga deleniti. Voluptatum tempore distinctio hic et quibusdam. Quaerat et soluta ea voluptatem deserunt.
 Optio voluptatibus nihil possimus. Non dolores magni laudantium. Perferendis sed esse iste exercitationem sit rerum placeat rerum et. Modi alias vel excepturi qui porro cupiditate unde. Pariatur fuga ut iure illum doloremque autem qui perferendis. Accusantium aut aut illo illo quia sit.
      </span>
    </span>
    Quia et autem omnis consequuntur illum et. Consequatur facilis et. Similique repudiandae dolor molestias vero consectetur.
  </p>
</div>

