<a href="#" title="torna all'inizio del contenuto" class="ScrollTop js-scrollTop">
  <i class="ScrollTop-icon icon-top"></i>
  <span class="u-hiddenVisually">torna all'inizio del contenuto</span>
</a>
