/** @define utilities */
/*
 *	To be overridden by themes
 */
:root {
  --Color-primary: #111;
}

.u-color-black {
  color: black !important;
}
.u-background-black {
  background-color: white !important;
}

.u-color-white {
  color: white !important;
}
.u-background-white {
  background-color: white !important;
}

.u-color-grey {
  color: #eee !important;
}
.u-background-grey {
  background-color: #eee !important;
}

.u-color-greyAlt {
  color: #ddd !important;
}
.u-background-greyAlt {
  background-color: #ddd !important;
}

.u-color-greyMid {
  color: #444e57 !important;
}
.u-background-greyMid {
  background-color: #444e57 !important;
}

.u-color-greyDark {
  color: #30373d !important;
}
.u-background-greyDark {
  background-color: #30373d !important;
}

.u-color-100 {
  color: var(--Color-primary) !important;
}
.u-background-100 {
  background-color: var(--Color-primary) !important;
}

.u-color-10 {
  color: color(var(--Color-primary) l(10%)) !important;
}
.u-background-10 {
  background-color: color(var(--Color-primary) l(10%)) !important;
}

.u-color-20 {
  color: color(var(--Color-primary) l(20%)) !important;
}
.u-background-20 {
  background-color: color(var(--Color-primary) l(20%)) !important;
}

.u-color-30 {
  color: color(var(--Color-primary) l(30%)) !important;
}
.u-background-30 {
  background-color: color(var(--Color-primary) l(30%)) !important;
}

.u-color-40 {
  color: color(var(--Color-primary) l(40%)) !important;
}
.u-background-40 {
  background-color: color(var(--Color-primary) l(40%)) !important;
}

.u-color-50 {
  color: color(var(--Color-primary) l(50%)) !important;
}
.u-background-50 {
  background-color: color(var(--Color-primary) l(50%)) !important;
}

.u-color-60 {
  color: color(var(--Color-primary) l(60%)) !important;
}
.u-background-60 {
  background-color: color(var(--Color-primary) l(60%)) !important;
}

.u-color-70 {
  color: color(var(--Color-primary) l(70%)) !important;
}
.u-background-70 {
  background-color: color(var(--Color-primary) l(70%)) !important;
}

.u-color-80 {
  color: color(var(--Color-primary) l(80%)) !important;
}
.u-background-80 {
  background-color: color(var(--Color-primary) l(80%)) !important;
}

.u-color-90 {
  color: color(var(--Color-primary) l(90%)) !important;
}
.u-background-90 {
  background-color: color(var(--Color-primary) l(90%)) !important;
}

.u-color-95 {
  color: color(var(--Color-primary) l(95%)) !important;
}
.u-background-95 {
  background-color: color(var(--Color-primary) l(95%)) !important;
}
