<form class="Form Form--spaced">

  <div class="Form-field is-invalid Alert Alert--errorFull">
    <label class="Form-label" for="cognome">Cognome</label>
    <input class="Form-input" id="cognome">
    <p>Errore durante la compilazione</p>
  </div>

  <div class="Form-field is-warning Alert Alert--warning">
    <label class="Form-label" for="citta">Città</label>
    <input class="Form-input" id="citta">
    <p>Messaggio di allerta</p>
  </div>

  </div>
</form>
