/** @define Linklist; weak; */

:root {
  --Linklist-border-color: #d8d8d8;
  --Linklist-link-arrow-up: inline("icons/ita/svg/icon-top.svg");
  --Linklist-link-arrow-down: inline("icons/ita/svg/icon-bottom.svg");
  --Linklist-link-padding: 0.5em;
  --Linklist-link-arrow-width: 1.5em;
}

.Linklist {
  @extend .u-color-grey-30;
  @extend .u-border-top-xxs;
  @extend .u-border-bottom-xxs;
}

.Linklist li {
  @extend .u-color-grey-30;
  @extend .u-border-top-xxs;
  @extend .u-block;
  @extend .u-nbfc;
}

.Linklist-link,
.Linklist a {
  @extend .u-block;
  @extend .u-color-100;
  @extend .u-textClean;
  @extend .u-padding-all-s;
}

.Linklist a:hover {
  @extend .u-background-90;
}

.Linklist ul a {
  @extend .u-padding-left-xl;
}

.Linklist ul ul ul a,
.Linklist ul ul ul a:hover {
  padding-left: 6em !important;
}

.Linklist ul ul a,
.Linklist ul ul a:hover {
  padding-left: 4em !important;
}

.Linklist ul a,
.Linklist ul a:hover {
  padding-left: 2em !important;
}

.Linklist-link.Linklist-link--lev1,
.Linklist-link.Linklist-link--lev1:hover {
  @extend .u-color-white;
  @extend .u-background-30;
}

.Linklist-link.Linklist-link--lev2,
.Linklist-link.Linklist-link--lev2:hover {
  @extend .u-color-20;
  @extend .u-background-80;
}

.Linklist-link.Linklist-link--lev3 {
  @extend .u-color-20;
  @extend .u-background-90;
}

.Linklist-link.is-expanded,
.Linklist-link.is-collapsed {
  background-position: right var(--Linklist-link-padding) center;
  background-repeat: no-repeat;
  background-size: var(--Linklist-link-arrow-width);
  padding-right:
    calc(
      var(--Linklist-link-arrow-width) + (2 * var(--Linklist-link-padding))
    );
}

.Linklist-link.is-collapsed {
  background-image: var(--Linklist-link-arrow-down);
}

.Linklist-link.is-expanded {
  background-image: var(--Linklist-link-arrow-up);
}
