<div class="margin-all-l">
  <ul class="Linklist">
    <li class="Linklist-item">
      <a class="Linklist-link Linklist-link--lev1" href="">Dipartimento della funzione pubblica</a>
    </li>
    <li class="Linklist-item"><a class="Linklist-link Linklist-link--lev2" href="">Ufficio del Capo Dipartimento</a>
      <ul>
        <li class="Linklist-item"><a href="" class="Linklist-link Linklist-link--lev3">Servizio per i rapporti istituzionali, la programmazione e la vigilanza</a></li>
        <li class="Linklist-item"><a href="" class="Linklist-link Linklist-link--leaf">Servizio per le attività internazionali</a></li>
        <li class="Linklist-item"><a href="" class="Linklist-link Linklist-link--leaf">Servizio per la programmazione europea</a></li>
        <li class="Linklist-item"><a href="" class="Linklist-link Linklist-link--leaf">Servizio per la comunicazione istituzionale</a></li>
      </ul>
    </li>
    <li class="Linklist-item"><a href="" class="Linklist-link">Ufficio per la semplificazione e la sburocratizzazione</a></li>
    <li class="Linklist-item"><a href="" class="Linklist-link">Ufficio per l'innovazione e la digitalizzazione</a></li>
    <li class="Linklist-item"><a href="" class="Linklist-link Linklist-link--expandable">Ufficio per l'organizzazione e il lavoro pubblico</a></li>
    <li class="Linklist-item"><a href="" class="Linklist-link">Ufficio per la valutazione della performance</a></li>
    <li class="Linklist-item"><a href="" class="Linklist-link">Ufficio per le relazioni sindacali</a></li>
    <li class="Linklist-item"><a href="" class="Linklist-link">Ufficio per la gestione amministrativa</a></li>
  </ul>
</div>
