<ul class="Linklist u-layout-prose">
  <li>
    <a class="Linklist-link--lev1" href="">Dipartimento della funzione pubblica</a>
  </li>
  <li><a class="Linklist-link--lev2" href="">Ufficio del Capo Dipartimento</a>
    <ul>
      <li><a href="" class="Linklist-link--lev3">Servizio per i rapporti istituzionali, la programmazione e la vigilanza</a></li>
      <li><a href="">Servizio per le attività internazionali</a></li>
      <li><a href="">Servizio per la programmazione europea</a></li>
      <li><a href="">Servizio per la comunicazione istituzionale</a></li>
    </ul>
  </li>
  <li><a href="">Ufficio per la semplificazione e la sburocratizzazione</a></li>
  <li><a href="">Ufficio per l'innovazione e la digitalizzazione</a></li>
  <li><a href="" class="Linklist-link--expandable">Ufficio per l'organizzazione e il lavoro pubblico</a></li>
  <li><a href="">Ufficio per la valutazione della performance</a></li>
  <li><a href="">Ufficio per le relazioni sindacali</a></li>
  <li><a href="">Ufficio per la gestione amministrativa</a></li>
</ul>
