/** @define utilities; */

:root {
  --Layout-container-wide: 144rem;
  --Layout-container-wider: 168rem;
  --Layout-container-medium: 128rem;
  --Layout-prose-fontSize: 1.8rem;
  --Layout-gutter: 1.2rem;
  --Layout-gutter-wide: 2.4rem;
  --Layout-prose-width: 32em;
}

.u-layout-withGutter {
  padding-left: var(--Layout-gutter);
  padding-right: var(--Layout-gutter);
}

@media (--lg-viewport) {

  .u-layout-withGutter {
    padding-left: var(--Layout-gutter-wide);
    padding-right: var(--Layout-gutter-wide);
  }

}

.u-layout-wide {
  max-width: var(--Layout-container-wide) !important;
}

.u-layout-wider {
  max-width: var(--Layout-container-wider) !important;
}

.u-layout-medium {
  max-width: var(--Layout-container-medium) !important;
}

.u-layoutCenter {
  margin: auto !important;
}

/* postcss-bem-linter: ignore */
.u-layout-centerContent > * {
  margin: auto !important;
}

.u-layout-prose {
  font-size: var(--Layout-prose-fontSize) !important;
  max-width: var(--Layout-prose-width) !important;
}

.u-layout-release {
  max-width: auto !important;
}
