/** @define Prose; weak; */

@import '../../utils/type';

:root {
  --Prose-color-text-primary: #1C2024;
  --Prose-color-text-secondary: #5A6772;
  --Prose-color-text-highlighted: #B2EBED;

  --Prose-color-link: #0066cc;
  --Prose-color-link-hover: #003366;
  --Prose-color-link-visited: #551A8B;

  --Prose-color-text-primary: #333333;
  --Prose-color-text-secondary: #5A6772;

  --Prose-space-unit: 0.5rem;
}

/*
 *	Do not nest .Prose(s)
 */
.Prose {
  max-width: 32em;
}

.Prose blockquote {
  @extend .u-typeBlockquote;
}

.Prose small {
  @extend .u-typeXxs;
}

.Prose p {
  margin-bottom: calc(6 * var(--Prose-space-unit));
}

.Prose p,
.Prose li {
  color: var(--Prose-color-text-primary);
  @extend .u-typeXs;
}

.Prose small {
  @extend .u-typeXxs;
}

.Prose pre {
  @extend .u-typePre;
}

.Prose a {
  color: var(--Prose-color-link);
}

.Prose {
  color: var(--Prose-color-text-primary);
}

.Prose--secondary {
  color: var(--Prose-color-text-secondary);
}

.Prose a:hover {
  color: var(--Prose-color-link-hover);
}

.Prose a:visited {
  color: var(--Prose-color-link-visited);
}

.Prose ul,
.Prose ol {
  list-style-position: outside;
  margin-left: 1.5em;
  margin-bottom: calc(6 * var(--Prose-space-unit));
}

.Prose ul {
  list-style-type: square;
}

.Prose ol {
  list-style-type: decimal;
}

.Prose li {
  padding: calc(var(--Prose-space-unit) / 2) 0;
}
