/** @define Prose; */

:root {
  --it-Prose-color-text-primary: #1C2024;
  --it-Prose-color-text-secondary: #5A6772;
  --it-Prose-color-text-highlighted: #B2EBED;

  --it-Prose-color-link: #0066cc;
  --it-Prose-color-link-hover: #003366;
  --it-Prose-color-link-visited: #551A8B;
}

.Prose h1 {
  /*
   *	@include .u-Type-xxl;
   *	@include .u-Type-bold;
   */
}

.Prose h2 {
  /*
   *	@include .u-Type-xl;
   *	@include .u-Type-bold;
   */
}

.Prose h3 {
  /*
   *	@include .u-Type-l;
   *	@include .u-Type-bold;
   */
}

.Prose h4 {
  /*
   *	@include .u-Type-m;
   *	@include .u-Type-bold;
   */
}

.Prose h5 {
  /*
   *	@include .u-Type-s;
   */
}

.Prose h6 {
  /*
   *	@include .u-Type-xs;
   *	@include .u-Type-bold;
   */
}

.Prose small {
  /*
   *	@include .u-Type-xxs;
   */
}

.Prose p,
.Prose li {
  /*
   *	@include .u-Type-xs;
   */
}

.Prose a {
  color: var(--it-Prose-color-link);
}

.Prose {
  color: var(--it-Prose-color-text-primary);
}

.Prose--secondary {
  color: var(--it-Prose-color-text-secondary);
}

.Prose a:hover {
  color: var(--it-Prose-color-link-hover);
}

.Prose a:visited {
  color: var(--it-Prose-color-link-visited);
}
