/*
 *	FIXME: The bare minimum for ancient devices
 */
.no-flexbox .Grid {
  display: block !important;
  font-size: 0;
  margin: 0;
  padding: 0;
  text-align: left;
}

.no-flexbox .Grid--withGutter {
  margin: 0 -8px;
}

.no-flexbox .Grid--withGutter > .Grid-cell {
  padding: 0 8px;
}

.no-flexbox .u-flex,
.no-flexbox .Grid-cell,
.no-flexbox .Header,
.no-flexbox .Header > *,
.no-flexbox .Header-utils > *,
.no-flexbox .Header-navbar > .Header-toggle,
.no-flexbox .Header-navbar > .Header-title,
.no-flexbox .Header-navbar > .Header-utils {
  box-sizing: border-box;
  display: inline-block !important;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  position: static !important;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.no-flexbox body {
  padding: 0 !important;
}

.no-flexbox header {
  padding-bottom: 1% !important;
}

.no-flexbox .Header-serviceLink {
  height: 3em;
  line-height: 3em;
}

.no-flexbox .Header-navbar > .Header-toggle {
  width: 60px !important;
}

.no-flexbox .Header-navbar > .Header-title,
.no-flexbox .Header-navbar > .Header-utils {
  width: 40% !important;
}

.no-flexbox .Header-search.Header-search {
  max-width: none !important;
}

.no-flexbox .Header-search button,
.no-flexbox .Header-search .Form-input,
.no-flexbox .Header-search .Form-label {
  float: left !important;
  position: static !important;
}

.no-flexbox .Header-search .Form-field {
  width: 100% !important;
}

.no-flexbox .Header-search .Form-field .Form-input {
  max-width: 80% !important;
  width: 80% !important;
}

.no-flexbox .Header-search .Form-field .Form-label {
  @extend .u-hiddenVisually;
}

.no-flexbox .Header-search .Form-field button {
  width: 2em !important;
}

.no-flexbox .Header-navbar > .Header-title {
  margin-left: 10%;
}

/* IE8 */

.no-flexbox .Megamenu-item {
  display: inline-block !important;
}

.no-flexbox .Header-navbar {
  background: var(--Color-primary) !important;
  color: white !important;
}

.no-flexbox .Header-navbar a {
  color: white !important;
}

.no-flexbox .u-jsVisibilityHidden {
  visibility: visible !important;
}
