/*
 *	FIXME:
 *
 *		Hall of shame
 *	  The bare minimum to support ancient devices
 *	  Mostly IE8 / IE9
 *
 */

.ie89 .Grid {
  display: block !important;
  font-size: 0;
  text-align: left;
}

.ie89 .Grid--withGutter {
  margin: 0 -8px;
}

.ie89 .Grid--withGutter > .Grid-cell {
  padding: 0 8px;
}

.ie89 .u-flex,
.ie89 .Grid-cell,
.ie89 .Header,
.ie89 .Header > *,
.ie89 .Header-utils > *,
.ie89 .Header-navbar > .Header-toggle,
.ie89 .Header-navbar > .Header-title,
.ie89 .Header-navbar > .Header-utils {
  box-sizing: border-box;
  display: inline-block !important;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  position: static !important;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

/*
 *	Header is static
 */
.ie89 body {
  padding: 0 !important;
}

.ie89 header {
  padding-bottom: 1% !important;
}

.ie89 .Header-serviceLink {
  height: 3em;
  line-height: 3em;
}

.ie89 .Header-navbar > .Header-toggle {
  width: 60px !important;
}

.ie89 .Header-navbar > .Header-title,
.ie89 .Header-navbar > .Header-utils {
  width: 40% !important;
}

.ie89 .Header-search.Header-search {
  max-width: none !important;
}

.ie89 .Header-search button,
.ie89 .Header-search .Form-input,
.ie89 .Header-search .Form-label {
  float: left !important;
  position: static !important;
}

.ie89 .Header-search .Form-field {
  width: 100% !important;
}

.ie89 .Header-search .Form-field .Form-input {
  max-width: 80% !important;
  width: 80% !important;
}

.ie89 .Header-search .Form-field .Form-label {
  @extend .u-hiddenVisually;
}

.ie89 .Header-search .Form-field button {
  width: 2em !important;
}

.ie89 .Header-navbar > .Header-title {
  margin-left: 10%;
}

/* IE8 */

.ie8 .Megamenu-item {
  display: inline-block !important;
}

.ie8 .Header-navbar {
  background: var(--Color-primary) !important;
  color: white !important;
}

.ie8 .Header-owner a,
.ie8 .Header-serviceLink a,
.ie8 .Header-serviceLink span,
.ie8 .Header-navbar a {
  color: white !important;
  display: inline !important;
}

.ie8 .Skiplinks a {
  top: -10em;
}

/*
 * 	CSS transform does not work in IE8
 */
.ie8 .Offcanvas--right.is-ready[aria-hidden="false"] .Offcanvas-content {
  left: auto !important;
}

.ie8 .Offcanvas--left.is-ready[aria-hidden="false"] .Offcanvas-content {
  right: auto !important;
}
