/** @define Breadcrumb; */

.Breadcrumb {

}

.Breadcrumb-item {
  display: inline;
}

.Breadcrumb-link {
  @extend .u-textClean;
  @extend .u-text-xxs;
  @extend .u-textWeight-700;
}

.Breadcrumb-item:after {
  content: ' › ';
  margin-left: 0 0.2em;
}
.Breadcrumb-item:last-child:after {
  content: none;
}
