<form class="Form Form--spaced">

    <div class="Form-field is-invalid">
      <div class=" Alert Alert--error">
        <label class="Form-label" for="cognome">Cognome</label>
        <input class="Form-input" id="cognome" aria-invalid="true">
        <p>Errore durante la compilazione</p>
      </div>
    </div>

  <div class="Form-field is-warning">
    <div class=" Alert Alert--warning">
      <label class="Form-label" for="citta">Città</label>
      <input class="Form-input" id="citta" aria-invalid="true">
      <p>Messaggio di allerta</p>
    </div>
  </div>

  </div>
</form>
