/**
 * Use the following values for margin and paddings.
 * ================================================
 */
:root {
  --Space-xxs: 0.8rem;
  --Space-xs: 1.8rem;
  --Space-s: 2.0rem;
  --Space-m: 2.4rem;
  --Space-l: 3.2rem;
  --Space-xl: 4.0rem;
  --Space-xxl: 5.4rem;
}
