<section class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-bottom-xxl">
  <p class="u-md-hidden u-lg-hidden u-padding-r-bottom">
    <a href="#subnav" class="u-text-r-s">Vai alla navigazione</a>
  </p>
  <h2 class="u-text-h1">
    Titolo della sezione
  </h2>
  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-md-size6of12 u-lg-size6of12">
      <article class="Prose u-layout-prose">
        <p>
          Incididunt adipisicing proident nulla laborum qui magna dolore Lorem duis fugiat magna veniam. Exercitation pariatur deserunt qui duis commodo exercitation magna laborum irure occaecat sit est quis eiusmod. Duis ipsum velit commodo enim reprehenderit voluptate labore incididunt aute ad sit. Aute id nulla anim nisi qui commodo consectetur. Velit excepteur aute sint amet dolor nulla dolore et culpa. Exercitation ullamco dolor aliquip Lorem consequat proident nisi adipisicing ut sit. Voluptate laboris amet non laborum proident sunt proident eiusmod ullamco enim esse qui pariatur sit.
        </p>
        <p>
          Incididunt adipisicing proident nulla laborum qui magna dolore Lorem duis fugiat magna veniam. Exercitation pariatur deserunt qui duis commodo exercitation magna laborum irure occaecat sit est quis eiusmod. Duis ipsum velit commodo enim reprehenderit voluptate labore incididunt aute ad sit. Aute id nulla anim nisi qui commodo consectetur. Velit excepteur aute sint amet dolor nulla dolore et culpa. Exercitation ullamco dolor aliquip Lorem consequat proident nisi adipisicing ut sit. Voluptate laboris amet non laborum proident sunt proident eiusmod ullamco enim esse qui pariatur sit.
        </p>
        <p>
          Incididunt adipisicing proident nulla laborum qui magna dolore Lorem duis fugiat magna veniam. Exercitation pariatur deserunt qui duis commodo exercitation magna laborum irure occaecat sit est quis eiusmod. Duis ipsum velit commodo enim reprehenderit voluptate labore incididunt aute ad sit. Aute id nulla anim nisi qui commodo consectetur. Velit excepteur aute sint amet dolor nulla dolore et culpa. Exercitation ullamco dolor aliquip Lorem consequat proident nisi adipisicing ut sit. Voluptate laboris amet non laborum proident sunt proident eiusmod ullamco enim esse qui pariatur sit.
        </p>
      </article>
    </div>
    <div class="Grid-cell u-md-size4of12 u-lg-size4of12 u-md-before2of12 u-lg-before2of12">
      <div class="u-cf u-padding-bottom-xxl">
        {% render '@share' %}
      </div>
      <div class="u-size11of12" id="subnav">
        {% render '@linklist--padded' %}
      </div>
    </div>
  </div>
</section>
