<div id="cookie-bar" class="CookieBar u-background-95 u-padding-r-all">
  <p class="u-color-white u-text-r-xs u-lineHeight-m u-padding-r-bottom">Questo sito utilizza cookie tecnici, analytics e di terze parti.
    Proseguendo nella navigazione accetti l’utilizzo dei cookie.
    Leggi la <a href="" class="u-text-r-xs u-color-teal-50">privacy policy</a>.
  </p>
  <button class="Button Button--default u-text-r-xxs js-cookieBarAccept u-floatLeft u-margin-r-top">Accetto</button>
</div>
