<header class="Header">

  <!-- <div class="Skiplinks">
    <ul>
      <li><a accesskey="2" href="#main">Vai al Contenuto</a></li>
      <li><a accesskey="3" href="#menu">Vai alla navigazione del sito</a></li>
    </ul>
  </div> -->

  <div class="Header-banner">
    <div class="Header-serviceLink">
      <a href=""><span>Accedi ai </span> servizi</a>
    </div>
    <div class="Header-owner">
      <a href="">Governo Italiano</a>
    </div>
  </div>

  <div class="Header-navbar Grid Grid--alignMiddle">

    <a href="/" class="Header-toggle Grid-cell" aria-label="apri e chiudi menu" title="navigazione">
      <span class="Hamburger-toggle"></span>
      <p class="Header-toggleText">Menu</p>
    </a>

    <div class="Header-title Grid-cell u-flex u-flexAlignItemsCenter">
      <div class="Header-logo">
        <a href="/" tabindex="-1">
          <img src="http://placehold.it/75x80" alt="">
        </a>
      </div>
      <h1>
        <a class="Header-titleLink" accesskey="1" href="/">
          {{ site.name }}<br>
          <small>eventuale sottotitolo</small>
        </a>
      </h1>
      <div class="Header-searchTrigger">
        <a href="#search-form">
          <span class="u-visuallyHidden">vai alla ricerca</span>
        </a>
      </div>
    </div>

    <div class="Header-utils">
      <div class="Header-social">
        <p>Seguici su:</p>
        <ul class="Header-socialIcons">
          <li class="icon-facebook"></li>
          <li class="icon-twitter"></li>
          <li class="icon-youtube"></li>
        </ul>
      </div>
      <div class="Header-search">
        <form class="Form">
          <!-- <label class="Form-label" for="search">Cerca</label> -->
          <input class="Form-input" type="text" name="search" />
        </form>
      </div>
      <div class="Header-languages">
        <a class="Header-language is-active" href="">IT</a>
        <a class="Header-language" href="">EN</a>
      </div>
    </div>

  </div><!-- Header-navbar -->

</header>
