<header>

  <!-- <div class="Skiplinks">
    <ul>
      <li><a accesskey="2" href="#main">Vai al Contenuto</a></li>
      <li><a accesskey="3" href="#menu">Vai alla navigazione del sito</a></li>
    </ul>
  </div> -->

  <div class="Header-banner">
    <div class="col-md-1 col-md-offset-3">
      <a href="" class="sr-hidden" tabindex="-1">
        <img class="Header-logo" src="" alt="">
      </a>
    </div>
    <div class="col-md-6">
      <p class="h4"><a href="">Governo Italiano</a></p>
    </div>
  </div>

  <div class="Header-navbar hidden-print">

    <a href="/" class="" aria-label="apri e chiudi menu" title="navigazione">
      <span></span>
    </a>

    <div class="col-sm-1 col-md-2 col-md-offset-2 col-xs-2 col-xs-offset-0">
      <a class="sr-hidden" href="/" tabindex="-1">
        <img class="Header-logo" src="" alt="">
      </a>
    </div>

    <div class="col-xs-8 col-xs-offset-0 col-sm-5 col-sm-offset-0 col-md-5 col-md-offset-0">
      <h1>
        <a accesskey="1" href="{{ data.config.site.baseurl }}">
          <span>{{ data.config.site.name }}
          </span>
          <small>{{ data.config.site.version }}</small>
        </a>
      </h1>
    </div>

  </div><!-- Header-navbar -->

</header>
