/* stylelint-disable */

.Header.Headroom {
  position: fixed;
  width: 100%;
  will-change: transform;
  transition: transform 200ms linear;
}

.Header.Headroom--not-bottom {

}

.Header.Headroom--top {

}

.Header.Headroom--not-top {

}

.Header.Headroom--pinned {
  transform: translateY(0%);
}

.Header.Headroom--not-top .Header-social,
.Header.Headroom--not-top .Header-languages,
.Header.Headroom--not-top .Header-banner {
  max-height: 0;
  overflow-y: hidden;
  padding: 0 !important;
  margin: 0 !important;
  transition: max-height 0.5s ease-in-out;
}

.Header.Headroom .Header-navbar {
  transition: all 200ms linear;
}

.Header.Headroom--not-top .Header-navbar {
  @extend .u-padding-top-xxs;
  @extend .u-padding-bottom-xxs;
}

.Header.Headroom--not-top .Header-search {
  @extend .u-margin-bottom-xxs;
}

.Header.Headroom--unpinned {
  transform: translateY(-100%);
}
