/* @define Header; weak */

:root {
  --Header-logo-width: 10rem;
  --Header-smaller-pad: 1rem;
  --Header-search-icon-size: 4.8rem;
  --Header-left-offset: -4%;
}

.Header {
  @extend .u-layout-centerContent;
}

.Header-banner {
  @extend .u-background-95;
  @extend .u-posRelative;
  @extend .u-color-60;
  @extend .u-border-bottom-xxs;
  @extend .u-padding-top-xxs;
  @extend .u-padding-bottom-xxs;
}

/**
 * 1. Must be the same as Header-title
 */
@media (--sm-viewport), (--md-viewport), (--lg-viewport) {

  .Header-banner {
    @extend .u-padding-left-s; /* 1 */
    @extend .u-padding-top-xs;
    @extend .u-padding-bottom-xs;
  }

}

/*
 *	1. Fixed for every theme.
 */
.Header-serviceLink {
  @extend .u-flex;
  @extend .u-flexAlignItemsCenter;
  @extend .u-flexJustifyCenter;
  @extend .u-padding-left-xl;
  @extend .u-padding-right-xl;
  @extend .u-posAbsolute;
  background: #06c; /* 1 */
  height: 100%;
  right: 0;
  top: 0;
}

.Header-serviceLink a {
  @extend .u-color-white;
  @extend .u-text-xxs;
  @extend .u-textWeight-700;
  @extend .u-textClean;
  text-transform: uppercase;
}

@media (--sm-viewport), (--md-viewport), (--lg-viewport) {

  .Header-serviceLink a {
    @extend .u-text-xxs;
  }

}

.Header-serviceLink span {
  @extend .u-hidden;
  @extend .u-md-inline;
  @extend .u-lg-inline;
}

.Header-owner {
  @extend .u-padding-left-s;
  max-width: 10em;
}

@media (--sm-viewport), (--md-viewport), (--lg-viewport) {

  .Header-owner {
    max-width: 100% !important;
    padding-left: 0 !important;
  }

}

@media (--md-viewport), (--lg-viewport) {

  .Header-owner {
    margin-left: var(--Header-left-offset);
  }

}

.Header-owner a {
  @extend .u-sm-before2of12;
  @extend .u-md-before2of12;
  @extend .u-lg-before2of12;
  @extend .u-text-xxs;
  @extend .u-textWeight-700;
  @extend .u-color-white;
  @extend .u-textClean;
}

@media (--sm-viewport), (--md-viewport), (--lg-viewport) {

  .Header-owner a {
    padding-left: var(--Header-logo-width);
  }

}

@media (--md-viewport), (--lg-viewport) {

  .Header-owner a {
    @extend .u-text-s;
  }

}

/* ========================================== */

.Header-navbar {
  @extend .u-background-50;
  @extend .u-padding-top-xs;
  @extend .u-padding-bottom-xs;
  @extend .u-padding-right-xs;
}

/* FIXME: % padding > lg-viewport-max */
@media (--lg-viewport) {

  .Header-navbar {
    @extend .u-padding-top-l;
    @extend .u-padding-bottom-l;
    @extend .u-padding-right-xl;
  }

}

.Header-toggle {
  @extend .u-block;
  @extend .u-size3of12;
  @extend .u-sm-size2of12;
  @extend .u-md-size2of12;
  @extend .u-lg-size2of12;
  @extend .u-padding-left-s;

  @extend .u-color-white;
  @extend .u-text-xxs;
  @extend .u-textWeight-700;
  @extend .u-textClean;

  letter-spacing: 0.1em !important;
  text-transform: uppercase;
}

@media (--sm-viewport), (--md-viewport), (--lg-viewport) {

  .Header-toggle {
    @extend .u-padding-left-xxl;
  }

}

.Header-toggleText {
  @extend .u-hidden;
  @extend .u-sm-block;
  @extend .u-md-block;
  @extend .u-lg-block;
  margin-bottom: -calc(1rem + var(--Hamburger-height));
  margin-top: calc(1rem + var(--Hamburger-height));
}

.Header-logo {
  @extend .u-floatLeft;
  min-width: calc(var(--Header-logo-width) * 0.6);
}

.Header-logo img {
  width: 5rem;
}

@media (--sm-viewport), (--md-viewport), (--lg-viewport) {

  .Header-logo {
    min-width: var(--Header-logo-width);
  }

  .Header-logo img {
    width: 7.5rem;
  }

}

/**
 *  1. FIXME: account for smallest screen
 */
.Header-title {
  @extend .u-size9of12;
  line-height: 0.1;
  margin-left: -var(--Header-smaller-pad); /* 1 */
}

/**
 * 1. Avoids collapse to burger icon
 */
@media (--sm-viewport), (--md-viewport), (--lg-viewport) {

  .Header-title {
    @extend .u-size6of12;
    @extend .u-padding-left-s; /* 1 */
  }

}

@media (--md-viewport), (--lg-viewport) {

  .Header-title {
    margin-left: var(--Header-left-offset);
  }

}

.Header-titleLink {
  @extend .u-text-xxs;
  @extend .u-textWeight-700;
  @extend .u-color-white;
  @extend .u-textClean;
  @extend .u-alignTop;
  letter-spacing: -0.05rem !important;
  line-height: 1 !important;
}

@media (--sm-viewport) {

  .Header-titleLink {
    @extend .u-text-s;
    line-height: 1.5 !important;
  }

}

@media (--md-viewport), (--lg-viewport) {

  .Header-titleLink {
    @extend .u-text-xl;
    line-height: 1.5 !important;
  }

}

.Header-titleLink small {
  @extend .u-text-xxs;
  @extend .u-textWeight-400;
  @extend .u-color-white;
  @extend .u-textClean;
  @extend .u-alignTop;
  line-height: 1 !important;
}

@media (--sm-viewport) {

  .Header-titleLink small {
    @extend .u-text-s;
    line-height: 1.5 !important;
  }

}

@media (--md-viewport), (--lg-viewport) {

  .Header-titleLink small {
    @extend .u-text-l;
    line-height: 1.5 !important;
  }

}

/* ========================================== */

.Header-searchTrigger {
  @extend .u-sm-hidden;
  @extend .u-md-hidden;
  @extend .u-lg-hidden;
  @extend .u-textRight;
  @extend .u-flexExpandLeft;
  @extend .u-padding-left-xxs;
}

.Header-searchTrigger a {
  @extend .u-inlineBlock;
  @extend .u-background-40;
  height: var(--Header-search-icon-size);
  min-width: var(--Header-search-icon-size);
}

.Header-searchTrigger a span {
  @extend .u-hiddenVisually;
}

/* ========================================== */

.Header-utils {
  @extend .u-hidden;
  @extend .u-sm-block;
  @extend .u-md-block;
  @extend .u-lg-block;
  @extend .u-sm-size4of12;
  @extend .u-md-size4of12;
  @extend .u-lg-size4of12;
  @extend .u-textRight;
  @extend .u-padding-right-s;
}

@media (--sm-viewport) {

  .Header-utils {
    @extend .u-margin-top-xs;
    @extend .u-margin-bottom-xs;
  }

}

@media (--md-viewport) {

  .Header-utils {
    @extend .u-padding-right-m;
  }

}

@media (--lg-viewport) {

  .Header-utils {
    @extend .u-padding-right-xxl;
  }

}

.Header-utils > div {
  @extend .u-floatRight;
  @extend .u-cf;
  width: 100%;
}

.Header-language {
  @extend .u-color-white;
  @extend .u-text-xs;
  @extend .u-textWeight-700;
  @extend .u-padding-left-s;
  @extend .u-padding-right-s;
  @extend .u-textClean;
  @extend .u-margin-left-xs;
  border: 2px solid white;
  opacity: 0.5;
}

.Header-language.is-active {
  opacity: 1;
}

.Header-social {
  @extend .u-text-xs;
  @extend .u-color-white;
  @extend .u-margin-left-s;
  @extend .u-margin-bottom-m;
}

.Header-social > * {
  @extend .u-inlineBlock;
}

.Header-socialIcons {
  @extend .u-padding-left-xxs;
  @extend .u-text-xs;
}

.Header-social [class^="icon-"],
.Header-social [class*=" icon-"] {
  @extend .u-inlineBlock;
  @extend .u-background-white;
  @extend .u-color-50;
  @extend .u-padding-all-xs;
  @extend .u-borderRadius-circle;
  @extend .u-margin-left-xs;
}

.Header-search {
  @extend .u-margin-bottom-m;
  @extend .u-padding-left-m;
}

.Header-search {
  @extend .u-floatRight;
  max-width: 24em;
}

/*
 * Headroom.js for sticky header
 * =============================
 */
.Header.Headroom {
  position: fixed;
  transition: transform 200ms linear;
  width: 100%;
  will-change: transform;
}

.Header.Headroom--pinned {
  transform: translateY(0%);
}

.Header.Headroom--not-top .Header-social,
.Header.Headroom--not-top .Header-languages,
.Header.Headroom--not-top .Header-banner {
  margin: 0 !important;
  max-height: 0;
  overflow-y: hidden;
  padding: 0 !important;
  transition: max-height 0.5s ease-in-out;
}

.Header.Headroom .Header-navbar {
  transition: all 200ms linear;
}

.Header.Headroom--not-top .Header-navbar {
  @extend .u-padding-top-xxs;
  @extend .u-padding-bottom-xxs;
}

.Header.Headroom--not-top .Header-search {
  @extend .u-margin-bottom-xxs;
}

.Header.Headroom--unpinned {
  transform: translateY(-100%);
}
