:root {
  --Footer-color-background: #30373d,
  --Footer-color-text: #c6cace;
  --Footer-color-text-light: #a5abb0,

  --Footer-color-link: #65dcdf;
  --Footer-color-link-hover: #00aeb3;
  --Footer-color-link-visited: #AA8DC6;
}
