<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="/vendor/modernizr.js"></script>

  <link media="screen" rel="stylesheet" href="/build/vendor.css">
  <link media="screen" rel="stylesheet" href="/build/build.css">
  <link media="screen" rel="stylesheet" href="/examples.css">

  <title>Preview Layout</title>
</head>
<body class="Pac">

  {{ yield|safe }}

  <!--[if IE 8]>
  <script src="/vendor/respond.min.js"></script>
  <script src="/vendor/rem.min.js"></script>
  <script src="/vendor/selectivizr.js"></script>
  <script src="/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="/vendor/polyfill.min.js"></script>
  <script src="https://cdn.rawgit.com/doctyper/flexie/master/dist/flexie.min.js"></script>
  <![endif]-->

  <script src="/vendor/jquery.min.js"></script>
  <script src="/build/IWT.js"></script>

</body>
</html>
