<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="/vendor/modernizr.js"></script>

  <link media="screen" rel="stylesheet" href="/build/vendor.css">
  <link media="screen" rel="stylesheet" href="/build/build.css">
  <link media="screen" rel="stylesheet" href="/examples.css">

  <title>Preview Layout</title>
</head>
<body class="Pac">

  {{ yield|safe }}

  <!--[if (IE 9)]>
  <script src="https://cdn.rawgit.com/inexorabletash/polyfill/master/polyfill.min.js"></script>
  <![endif]-->

  <!--[if (lte IE 8)]>
  <script src="/vendor/respond.min.js"></script>
  <script src="/vendor/rem.min.js"></script>
  <script src="/vendor/selectivizr.js"></script>
  <![endif]-->

  <!--[if (gt IE 8)]> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/build/IWT.js"></script>
  <!-- <![endif]-->

</body>
</html>
