<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="it"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="/vendor/modernizr.js"></script>

  <link media="screen" rel="stylesheet" href="/build/vendor.css">
  <link media="screen" rel="stylesheet" href="/build/build.css">
  <link media="screen" rel="stylesheet" href="/examples.css">

  <title>Preview Layout</title>
</head>
<body class="Pac">

  {{ yield|safe }}

  <script src="/vendor/jquery.min.js"></script>

  <!--[if IE 8]>
  <script src="/vendor/respond.min.js"></script>
  <script src="/vendor/rem.min.js"></script>
  <script src="/vendor/selectivizr.js"></script>
  <script src="/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="/vendor/polyfill.min.js"></script>
  <![endif]-->

  <script src="/build/IWT.js"></script>

</body>
</html>
