<section class="Utilities u-background-grey">
  <h2 class="Utilities-title">Utilità</h2>
  <ul class="Grid Grid--withGutter">
    <li class="Utilities-item Grid-cell u-md-size1of4 u-lg-size1of4">
      <a class="Utilities-link u-color-greyDark" href="">Amministrazione trasparente</a>
    </li>
    <li class="Utilities-item Grid-cell u-md-size1of4 u-lg-size1of4">
      <a class="Utilities-link u-color-greyDark" href="">Albo pretorio</a>
    </li>
    <li class="Utilities-item Grid-cell u-md-size1of4 u-lg-size1of4">
      <a class="Utilities-link u-color-greyDark" href="">Bandi e concorsi</a>
    </li>
    <li class="Utilities-item Grid-cell u-md-size1of4 u-lg-size1of4">
      <a class="Utilities-link u-color-greyDark" href="">Accesso civico</a>
    </li>
  </ul>
</section>
